@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Yeseva+One&display=swap");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  "Poppins", sans-serif; 
  scroll-behavior: smooth;
  
}

body {
  
  background-color:black;

}
a {
  color: #fff;
  text-decoration: none;
  
}


.nav{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 25px 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}
.nav .logo{
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;

}

.nav ul {
  display: flex;

}

.nav ul li{
  list-style: none;
  margin-left: 15px;
  transition: .5s;


} 

.nav-link {
  text-decoration: none;
  padding: 5px;
  color: white;  
  transition: color 0.3s ease;
  font-size:  20px;
  font-weight: 500;
}

.nav-link.active {
  color: #35e1e6;  
  font-weight: bold;
  border-bottom: 2px solid black
}


#home{
  display: flex;
  color: #fff;

}
.home-content{
  height: 100vh;
  padding: 320px 9% 0;
}

.home-content h1{
  font-size: 55px;
  color: white;

}

.home-content h2{
  font-size: 32px;
  color: white;
 
}
.home-content h2:nth-of-type(2){
  margin-bottom: 30px;
}
.home-content h2 span{
  color: #12d4ea;
  animation:typing 5s steps(15, end);
}

@keyframes typing{
  form{ width: 0;}
  to{ width : 400%;}

}

.home-content p {

  color: white;
}

.btn-sci {
  display: flex;

  gap: 30px; 
  padding-top: 20px;
}



.btn, .btn1 {
  display: inline-block;
  padding: 5px 10px;
  background: #35e1e6;
  border-radius: 40px;
  box-shadow: 0 0 10px;
  font-size: 16px;
  color: #1f242d;
  font-weight: 600;
  transition: 0.5s;
  text-decoration: none;
}


.btn1:hover{
  background-color: transparent;
  color: #35e1e6;
  box-shadow: none;

}

.btn:hover {
  background-color: transparent;
  color: #35e1e6;
  box-shadow: none;
}

.kishore-img{
  position: absolute;

  height: 440px;
  width: 320px;
  top:120px;
  left: 58rem;
  border-radius: 30%;
}



#About{
  display: flex;
  height: 100vh;
  padding: 40px 50% 10% 200px;
  color: #fff;

}

#About .p1{
  padding-top: 23em;
  color: white;
}
.about-img{
  position: absolute;

  height: 410px;
  width: 320px;
  top:980px;
  left: 58rem;
  border-radius: 30%;
  

}


  #skills{

    color: white;
  }
  .kish{
    color: white;
    font-size: 38px;
    padding-top: 3em;
  }
  .skills {
    margin: auto;
  }
  #skills {
    padding-top: 90px;
    text-align: center;
  }
  .tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px;
  }
  .skill-container {
    width: 300px;
    margin: 20px;
  
  }
  .skill {
    margin: 60px 0;
  }
  .skill-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .skill-bar {
    background: #333;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
    position: relative;
  }
  .skill-level {
    height: 100%;
    background-color:#35e1e6;
    transition: width 0.5s ease;
  }
  /* Individual skill levels */
  .html { width: 60%; }
  .css { width: 40%; }
  .js { width: 40%; }
  .python { width: 80%; }
  .problem-solving { width: 45%; }
  .mysql { width: 60%; }
  .skill-level::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
  }
  

  .kish-1{
    color: white;
    font-size: 32px;
    padding-left: 20.5em;
    
  }
   .engskill{
    padding-top: 15em;

    height: 100vh;
  }
  
  .eng{
    padding-top: 10px;
    font-size: xx-large;
    text-align: center;
    color: white;
  }
  .change{
    font-size: 23px;
    text-align: center ;
    padding-bottom: 0.3em;
  }
  .fle{
    display: flex;
    justify-content: space-evenly;
  }
  .star-rating {
    display: flex;
    font-size: 2em;
    color:#35e1e6 ;
  } 




  .main5{

   color: white;
   height :100vh;

  }
  .kish-2{
    position: absolute;
    color: white;
    font-size: 32px;
    padding-left: 21em;
    padding-top: 4em;
  
  }
  .change{
    padding-top: 10px;
  }
  
    #lifeskills{
      padding-top: 10rem;
    }
    #star1{
      margin-left: 110px;
    }
    #star2{
      margin-left: 110px;
    }
    #star3{
      margin-left: 38pc;
    }
    .abapt{
      display: flex;
      justify-content:space-around;
      text-align: center;
    }
    .social_skill{
      margin-top: 100px;
      text-align: center;
    }
    .abl{
      font-size: xx-large;
      padding-top: 4em;
    }
    .smsa{
      font-size: xx-large;
      padding-top: 4em;
    }
    .ss{
      font-size: xx-large;
      
    }
    .star-rating1{
      display: flex;
      font-size: 4em;
      color: #35e1e6; 
    }
    .star-rating2{
      display: flex;
      font-size: 4em;
      color: #35e1e6; 
    }
    .star-rating3{
      display: flex;
      font-size: 4em;
      color:#35e1e6; 
    }


    #Contact{
      height: 100vh;
      padding-top: 15em;
    }
    .contactme{
      height: 40vh;
      width: 40%;
      margin-left: 30%;
      text-align: center;
      border: 2px solid white;
      border-radius: 20px;
    }
    
    .contactme:hover {
      background-color:#35e1e6;
    }
    .thiru{
      color: white;
  
      font-size: 42px;
      padding-left: 16em;
      padding-bottom: 1em;
      
    }
    
    form .name {
      color: black;
      font-weight: 600;
    }
    
    #name, #mail {
      padding-top: 10px;
      width: 80%; 
      height: 40px;
      border-radius: 25px;
    }

    
    #message {
      width: 80%;
      height: 100px; 
      border-radius: 10px;
      background-color: lightblue;
      resize: vertical; 
    }
    
    #message:hover {
      background-color: rgb(235, 239, 245);
    }
    
    .contactme input, .contactme textarea {
      width: 80%;
      border-radius: 10px;
      background-color: white;
      padding-top: 2em;
    }
    
    .search {
      background-color: #ededed;
      height: 45px;
      width: 75px;
      border-radius: 30%;
      
    }
    
    .search:hover {
      transform: scale(0.9);
      background-color: #12d4ea;
      box-shadow: 5px 5px 5px;
    }
    
    .class {
      display: flex;
      justify-content: center;
      color: black;
      font-size: 40px;
      font-weight: 400;
      text-decoration: none;
      font-family: "Poppins", sans-serif;
  
    }

    @keyframes slideRight{
      0%{
        transform: translateX(-100px);
        opacity: 1;
      }

      100%{
        transform: translateX(0px);
        opacity: 1;
    }
  }



