*{
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
}
.container1{
display: grid;
grid-template-rows: 10vh 90vh;
height: 100vh;
overflow-y: hidden;

}
.header{
  
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;
}
.nav-bar{
    display: grid;
    grid-template-columns: 0.7fr 0.6fr 0.3fr 0.3fr 0.5fr;
    position: fixed;
    backdrop-filter: blur(30px);

}

.part{
    font-family: "Poppins", sans-serif;
    color: aliceblue;
    text-decoration:none;
    padding-right: 40px;
    font-size: 30px;
   
}


a:hover{
    color:#35e1e6;
    cursor: pointer;
    text-shadow :0px 0px 10px lightskyblue,
                 0px 0px 20px lightskyblue,
                 0px 0px 40px lightskyblue,
                 0px 0px 80px lightskyblue;
                
}


.main{
    display: grid;
    grid-template-columns:80% 20%;
    height: 100vh;
}
.sidebar1{
    background-color: black;
}
.img1{
    padding-top: 100px;
    height: 600px;
}
.sidebar2{
    background-color: black;
}
.contanier00{
  display: inline-block;
  margin: 20%;

}
.text{
  font-family: "Abril Fatface", serif;
  position: relative;
  top: 190px;
  right: 120px;
  overflow: hidden;
  font-size: 40px;
  color: white;
  font-weight: 700;
  border-right: 0.15em solid black;
  white-space: nowrap;
  cursor: default;
animation: typing 5s steps(20,end) infinite;
}
@keyframes typing{
  from{
    width: 0;
  }
  to{
    width: 130%
  }
}
.h1{
    font-family: "Abril Fatface", serif;
    color: aliceblue;
  position: absolute;
  font-size: 30px;
  right: 340px;
  top: 430px;
  cursor: default;
}
.h2{
    font-family: "Yeseva One", serif;
    color: aliceblue;
    position: absolute;
    font-size: 20px;
    right: 230px;
    top: 520px;
    cursor: default;
}

.container2{
    display: grid;
    grid-template-rows: 10vh 90vh;
    height: 100vh;
  
}
.header2{
    background-color: black;
}
.main2{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100%;
    
}
.sidebar3{
    background-color:black;
}
.img2{
   padding: 50px;
    height: 400px;
    width: 390px;
    margin-top: 20%;
    margin-left: 120px;
    border-radius: 390px;
    
}
.sidebar4{
    background-color: black;
}
.p{
    font-family: "Poppins", sans-serif;
    color: aliceblue;
    padding-right: 5px;
    cursor: default;
    padding-top: 5px;
    
  
}
.p1{
    padding-top:260px;
     font-size: 30px;
    
 }
 
 .footer2{
    background-color:white;
 }

 .container3{
    display: grid;
    grid-template-rows:10vh 90vh ;  
 }
.header3{
   background-color: black;
}
.main3{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 90vh;

}
.sidebar5{
    background-color: black;

}
.img3{
    padding-top: 80px;
    height: 450px;
}
.sidebar6{
    background-color: black;
}
ul {
    color: white;
    font-size: 26px;
    padding-left: 40px;
    font-family: "Poppins", sans-serif;
    cursor: default;
    
   }
   li::marker{
    content: '💻 ';
    font-size: 1.2em;
    
   }
  
   .li1{
     font-size: 40px;
       padding-top: 280px;
     
   }
   .li2{
    font-size: 40px;
       padding-top: 30px;
   
   }
   .li3{
    font-size: 40px;
       padding-top: 30px;
      
   }
   .footer3{
    background-color: black;
   }


   .container5{
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    height: 100vh;
   }
 .container4{
   display: grid;
   grid-template-rows: 10vh 90vh;
  height:100vh;

 }
 .header4{
 background-color: black;
 } 
 .main4{
 background-color: black;
 display: grid;
 grid-template-rows:90vh 10vh;
 }

*/.box {
    width: 800px;  
    margin: 10%;
    position: relative;
  border-radius: 150px;
  }
  
  #card-container {
padding-top: 150px;
    padding-left:40px;
    position: relative;
    margin: 30px;
    width: 40vh;
    height: 40vh;
    z-index: 1;
    float: left;
    cursor: pointer;
text-align: center;    
  }
 
  
  .img5{
 
    width: 300px;
    height: 290px;
    
  }
  
  #card, #card2, #card3{
    width: 100%;
    height: 100%;
    margin: 10%;
    transform-style: preserve-3d;
    transition: all .8s linear;
    box-shadow: 5px 5px 15px rgba(0,0,0, .3);
    cursor: pointer;
  }
 
 
  
  #card {
    &:hover {
      transform: rotateY(180deg);
      box-shadow: -5px 5px 15px rgba(0,0,0, .3);
    }
  }
  
  #card2 {
    &:hover {
      transform: rotateY(-180deg);
      box-shadow: -5px 5px 15px rgba(0,0,0, .3);
    }
  }
  
  #card3 {
    &:hover {
      transform: rotatey(180deg);
      box-shadow: 5px -5px 15px rgba(0,0,0, .3);
    }
   
  }

  .smile:hover{
      scale: 1.2;
      cursor: pointer;
  }
  .face {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: chartreuse;
  }
  .back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    opacity: .7;
    border-radius: 20px;
    
    background: chartreuse;
  }
  .k{
    color: black;
  }

 
  .container6{
    display: grid;
    grid-template-rows: 10vh 90vh;
    background-color: black;
    
  }
  .header6{
     background-color: black;

  }

  .contactme{
    background-color:grey;
    height:50vh;
    width:40%;
    margin-top: 10%;
    margin-left: 30%;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
     padding-top: 50px;
     line-height: 50px;
     
  }
  .contactme:hover{
    background-color: rgba(128, 255, 0, 0.824);
  }
  form .name{
    padding-top: 100px;
    color:black;

    font-weight: 600;
  }
  #name{
    width:290px;
    height:40px;
    border-radius: 25px;

  }
  #mail{
    width:290px;
    height:40px;
    border-radius: 25px;

  }
  #mail:hover{
    background-color: white;
  }
  #message:hover{
    background-color: rgb(235, 239, 245);
  }

 .coontactme input, .contactme textarea{
 width: 80%;
 height: 20%;
 border-radius: 10px;
 background-color:lightblue;
 
 }
 .mail{
  background-color:#ededed ;
 }
 .search{
  background-color:#ededed;
  height: 45px;
  width: 75px;
  border-radius: 30%;
 }

 .search:hover{
  transform: scale(0.9);
  background-color: green;
  box-shadow: 5px 5px 5px;
 }
 .class{
  display: flex;
  justify-content: center;
  color:black;
  font-size: 40px;
  font-weight: 400;
  text-decoration: none;
  font-family:"Poppins", sans-serif ;
  padding-top: 20px;
 }
 

  

  
 



